@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Dirección: <br/>
        Calle San Nicolas<br />
        Avenida Medicina<br />
        <abbr title="Teléfono">Número:</abbr>
        1234 5678
    </address>

    <address>
        <strong>Correo:</strong>   <a href="mailto:Support@example.com">Correo@DOS.com</a><br />
        
    </address>
</main>